@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/************************** BASE STYLES (MOBILE) **************************/
/************ MAIN CONTENT (MOBILE) ************/
.about-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-family: var(--font-heading);
}

.about-main-section{

    .about-header {
        text-align: center;
    }
    .about-hr {
        height: 2px;
        margin: 1rem auto;
        width: 85% !important;
        border: none;
        background: linear-gradient(to right, transparent, black, transparent);
    }
    .about-paragraph {
        text-align: justify;
        text-justify: inter-word;
        font-size: 1rem;
        line-height: 1.7;
        max-width: 80%;
        margin: 0 auto;
    }
    .signature {
        text-align: center;
    }
    .about-span {
        font-family: "Corinthia", sans-serif ;
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--accent-color);
    }
    .about-btn-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .about-btn {
        background-color: var(--button-bg);
        color: var(--accent-color);
        font-family: var(--button-text);
        font-size: var(--button-text-sm-screen);
        letter-spacing: 1px;
        border-radius: 10px;
        padding: 10px 24px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .about-btn:hover {
        cursor: pointer;
        background-color: rgb(26, 26, 26);
    }

}

/************************** MEDIA QUERIES **************************/

/************ MEDIUM SCREENS ************/
@media (min-width: 768px) {
    .about-paragraph {
        width: 70%;
        max-width: 70%;
    }
    .about-hr {
        max-width: 75% !important;
    }
}

/************ LARGE SCREENS ************/
@media (min-width: 992px) {
    .about-btn {
        padding: 10px 40px !important;
    }
}
/************ X-LARGE SCREENS ************/

@media (min-width: 1200px) {
    .about-paragraph {
        width: 50%;
        max-width: 50%;
        font-size: 1.1rem !important;
    }

    .about-hr {
        max-width: 55% !important;
    }
}
