/************************** BASE STYLES (MOBILE) **************************/
/************ CARD (MOBILE) ************/
.main-card-container {
    background-color: whitesmoke !important;
    border-radius: 0px !important;
}

.service-card-title {
    font-size: 1.3rem;
    text-align: left;
}

.service-card-subtitle {
    font-size: 1rem;
    font-family: "EB Garamond";
}

.price-line {
    margin-bottom: 30px;
}

.service-card-link {
    background-color: var(--button-bg) !important;
    color: var(--accent-color) !important;
    font-family: var(--button-text) !important;
    font-size: var(--button-text-sm-screen);
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .card-body {
        padding-bottom: 30px !important;
    }

}