.pageBanner {
    background-color: var(--banner-bg);
    font-family: var(--header-fonts);
}

.pageBanner p {
    color: var(--banner-text);
    font-size: 1rem;
    margin-bottom: -5px;
    line-height: 1.3;
}

.pageBanner small {
    font-size: .7rem;
    color: var(--accent-color);
}

