/************************** BASE STYLES **************************/
.pageBanner {
    background-color: var(--banner-bg);
    font-family: var(--font-heading);
    padding-bottom: 8px;
}

/************ TEXT STYLES ************/
.pageBanner p {
    color: var(--banner-text);
    font-size: .85rem;
    margin-top: 3px;
    margin-bottom: -3px;
    line-height: 1.3;
}

.pageBanner small {
    font-size: .7rem;
    color: var(--accent-color);
}

/************************** MEDIA QUERIES **************************/

/************ SMALL SCREENS ************/
@media (min-width: 576px) {
    .pageBanner p {
        font-size: .9rem;
    }
    .pageBanner small {
        font-size: .8rem;
    }
}

/************ MEDIUM+ SCREENS ************/
@media (min-width: 768px) {
    .pageBanner p {
        font-size: 1rem;
    }
    .pageBanner small {
        font-size: .85rem;
    }
}