.pageBanner {
    background-color: var(--banner-bg);
    font-family: var(--font-heading);
    padding-bottom: 8px;
}

.pageBanner p {
    color: var(--banner-text);
    font-size: .9rem;
    margin-bottom: -5px;
    line-height: 1.3;
}

.pageBanner small {
    font-size: .7rem;
    color: var(--accent-color);
}

@media (min-width: 576px) {
    .pageBanner p {
        font-size: 1rem;
    }
    .pageBanner small {
        font-size: .8rem;
    }
}

@media (min-width: 768px) {
    .pageBanner p {
        font-size: 1.1rem;
    }
    .pageBanner small {
        font-size: .85rem;
    }
}