/************************** BASE STYLES (MOBILE) **************************/
/************ INTRO (MOBILE) ************/

.services-h1-col-container {
    margin-bottom: -8px;
}

.service-intro-h1-SM {
    font-family: var(--font-heading);
    margin-bottom: 25px;
    text-align: center;
}

.services-intro-p-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-intro-p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 90%;
    font-family: var(--font-body);
    text-align: center;
}

.services-page-intro {
    margin-bottom: 20px;
}

/************ SERVICE LIST (MOBILE) ************/

.services-list {
    padding-left: 0px;
    max-width: 90%;
    margin: 0 auto;
}

/************************** MEDIA QUERIES **************************/
/************ SMALL SCREENS ************/
@media (max-width: 767px) {
    .service-intro-h1-M2L {
        display: none;
    }
    .services-intro-hr-M2L {
        display: none;
    }
}
/************ MEDIUM SCREENS ************/
@media (min-width: 768px) {
    .service-intro-h1-SM {
        display: none;
    }
    .services-intro-hr-M2L {
        border: 0;
        margin: 0;
        width: 0;
        height: 140px;
        border-right: 5px solid #000;
        opacity: 1;
    }
    .services-h1-col-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-intro-p-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .services-intro-p {
        text-align: left;
    } 

}

/************ LARGE SCREENS ************/
@media (min-width: 992px) {
    .services-page-intro {
        margin-top: 40px;
    }
    .services-intro-hr-M2L {
        height: 200px;
    }
}

/************ X-LARGE SCREENS ************/

@media (min-width: 1200px) {
    .services-intro-p {
        max-width: 87%;
        font-size: 1.1rem;
    }
    .services-page-intro {
    margin-bottom: 60px;
}
}

/************ XX-LARGE SCREENS ************/

@media (min-width: 1400px) {
    .services-intro-p {
        max-width: 83%;
    }
}