/************************** BASE STYLES (MOBILE) **************************/
/************ INTRO (MOBILE) ************/

.services-h1-col-container {
    margin-bottom: -8px;
}

.service-intro-h1 {
    font-family: var(--font-heading);
}

.services-divider-mobile {
    border: none;
    border-top: 3px solid #000;
    width: 50%;
    margin: 1.5rem auto;
    opacity: 1;
}

.services-intro-p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 90%;
    margin: 0 auto;
    font-family: var(--font-body);
}