/************************** BASE STYLES (MOBILE) **************************/
/************ INTRO (MOBILE) ************/

.services-h1-col-container {
    margin-bottom: -8px;
}

.service-intro-h1-SM {
    font-family: var(--font-heading);
    margin-bottom: 30px;
    text-align: center;
}

.services-intro-p-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-intro-p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 90%;
    font-family: var(--font-body);
    text-align: left;
}

/************************** MEDIA QUERIES **************************/
/************ SMALL SCREENS ************/
@media (max-width: 767px) {
    .service-intro-h1-M2L {
        display: none;
    }
    .services-intro-hr-M2L {
        display: none;
    }
}
/************ MEDIUM SCREENS ************/
@media (min-width: 768px) {
    .service-intro-h1-SM {
        display: none;
    }
    .services-intro-hr-M2L {
        border: 0;
        margin: 0;
        width: 0;
        height: 200px;
        border-right: 5px solid #000;
        opacity: 1;
    }
    .services-h1-col-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-intro-p-container {
        display: flex;
        justify-content: end;
        align-items: center;
    }

}

