/************************** BASE STYLES **************************/
#footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: var(--font-heading);
    font-size: .8rem;
}