#brand-logo {
  height: 110px;
  width: auto;
}

/* .main-navbar {
  background-color: var(--navbar-bg);
} */

.navbar-nav .nav-link {
  border-bottom: 1px solid darkgray;
  padding-left: 5px;
  padding-bottom: 15px;
  color: black;
  font-family: var(--navbar-link-text);
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-nav .nav-link:last-child {
  margin-bottom: 10px;
}

.navbar-nav .nav-link:active {
  background-color: whitesmoke;
}