#main-navbar {
    background-color: var(--navbar-bg);
}

#envelope-sm {
    color: black;
}

#brand-logo {
    height: 100px;
    width: auto;
    }



.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    font-family: var(--navbar-link-text);
    letter-spacing: .2px;
    padding: 10px 0;
}

.navbar-nav .nav-link:active {
    background-color: #d2cfcf;
}

.navbar-nav .nav-item:last-child {
    margin-bottom: 12px;
}

#main-navbar-button {
        background-color: var(--button-bg);
        color: var(--accent-color);
        border-radius: 5px;
        padding: 10px 0;
        letter-spacing: 0.5px;
        font-family: var(--button-text);
        font-weight: var(--button-text-weight);
        font-size: var(--button-text-sm-screen);
        text-transform: uppercase;
}

@media (max-width: 991px) {
    #main-navbar-button {
        width: 100%;
    }
}

@media (min-width: 992px) {

    #brand-logo {
    height: 150px;
    width: auto;
    }

    .navbar .navbar-collapse {
        position: relative;
    }

    .navbar .navbar-nav.mx-auto {
        position: absolute;
        right: 50%;
        transform: translateX(18%);
        gap: 2rem;
    }

    .navbar-nav .nav-link {
        margin-top: 25px;
        border-bottom: none;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .navbar-nav .nav-link:active {
    background: none; 
}

    #main-navbar-button {
        width: auto;
        margin-right: 20px;
        margin-top: 10px;
        padding: 10px 40px;
        font-size: var(--button-text-lg-screen);
    }

    #main-navbar-button:hover {
        background-color: var(--button-hover-bg);
        cursor: pointer;
    }
}



