/************************** BASE STYLES (MOBILE) **************************/

/************ NAV HEADER (MOBILE) ************/
/* nav {
  background-color: var(--navbar-bg);
} */
.nav-envelope {
  text-decoration: none;
  color: inherit;
}

#brand-logo {
  height: 125px;
  width: auto;
}
/************ NAV LINKS (MOBILE) ************/
.navbar-nav .nav-link {
  padding-left: 12px;
  padding-bottom: 15px;
  color: black;
  font-family: var(--navbar-link-text);
  font-size: 1.05rem;
  font-weight: 500;
}

.nav-first-child {
  margin-top: 20px;
  border-top: 2px solid rgba(0,0,0,0.08) !important;
}

.nav-last-child {
  margin-bottom: 25px;
}

.navbar-nav .nav-link-container:active {
  background-color: whitesmoke !important;
}

.navbar-nav a.nav-link.nav-link-container{
  border-bottom: var(--border-bottom);
  text-decoration: none;
}

/************ NAV BUTTON (MOBILE) ************/
.nav-btn-container {
  display: flex;
  justify-content: center;
}

.nav-booknow-btn {
  background-color: var(--button-bg);
  font-family: var(--button-text);
  color: var(--accent-color);
  font-weight: 500;
  font-size: var(--button-text-sm-screen);
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.nav-booknow-btn:hover {
  cursor: pointer;
  background-color: rgb(26, 26, 26);
}


/************************** MEDIA QUERIES **************************/

/************ MEDIUM SCREENS ************/
@media (min-width: 768px) {
  .navbar {
    padding: 0px !important;
    border-bottom: 2px solid rgba(0,0,0,0.08) !important;
    /* border-bottom: 1px solid rgba(223, 175, 55, 0.35) !important; */
  }
  #brand-logo {
    height: 95px;
    margin-right: 10px;
  }
  .navbar-nav .nav-link {
    padding-bottom: 8px;
  }
  .nav-booknow-btn {
    width: 150px;
    font-size: var(--button-text-lg-screen);
  }
  .navbar-nav .nav-link-container:active {
  background: none;
}
}