/************************** BASE STYLES (MOBILE) **************************/

/************ NAV HEADER (MOBILE) ************/
.nav-envelope {
  text-decoration: none;
  color: inherit;
}

#brand-logo {
  height: 125px;
  width: auto;
}
/************ NAV LINKS (MOBILE) ************/
.navbar-nav .nav-link {
  padding-left: 12px;
  padding-bottom: 15px;
  color: black;
  font-family: var(--navbar-link-text);
  font-size: 1.05rem;
  font-weight: 500;
}

.nav-first-child {
  margin-top: 5px;
  border-top: 2px solid rgba(0,0,0,0.08) !important;
}

.nav-last-child {
  margin-bottom: 25px;
}

.navbar-nav .nav-link-container:active {
  background-color: whitesmoke !important;
}

.navbar-nav a.nav-link.nav-link-container{
  border-bottom: var(--border-bottom);
  text-decoration: none;
}

/************ NAV BUTTON (MOBILE) ************/
.nav-btn-container {
  display: flex;
  justify-content: center;
}

.nav-booknow-btn {
  background-color: var(--button-bg);
  font-family: var(--button-text);
  color: var(--accent-color);
  font-weight: 500;
  font-size: var(--button-text-sm-screen);
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.nav-booknow-btn:hover {
  cursor: pointer;
  background-color: rgb(26, 26, 26);
}


/************************** MEDIA QUERIES **************************/