/************************** BASE STYLES (MOBILE) **************************/

/************ NAV HEADER (MOBILE) ************/

.nav-envelope {
  text-decoration: none;
  color: inherit;
}

#brand-logo {
  height: 125px;
  width: auto;
}
/************ NAV LINKS (MOBILE) ************/
.navbar-nav .nav-link {
  padding-left: 12px;
  padding-bottom: 15px;
  color: black;
  font-family: var(--navbar-link-text);
  font-size: 1.05rem;
  font-weight: 500;
}

.nav-first-child {
  margin-top: 20px;
  border-top: 2px solid rgba(0,0,0,0.08) !important;
}

.nav-last-child {
  margin-bottom: 25px;
}

.navbar-nav .nav-link-container:active {
  background-color: whitesmoke !important;
}

.navbar-nav a.nav-link.nav-link-container{
  border-bottom: var(--border-bottom);
  text-decoration: none;
}

/************ NAV BUTTON (MOBILE) ************/
.nav-btn-container {
  display: flex;
  justify-content: center;
}

.nav-booknow-btn {
  background-color: var(--button-bg);
  font-family: var(--button-text);
  color: var(--accent-color);
  font-weight: 500;
  font-size: var(--button-text-sm-screen);
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.nav-booknow-btn:hover {
  cursor: pointer;
  background-color: rgb(26, 26, 26);
}


/************************** MEDIA QUERIES **************************/

/************ MEDIUM SCREENS ************/
@media (min-width: 768px) {
  .navbar {
    padding: 0px !important;
    box-shadow: 0 3px 12px rgba(0,0,0,0.22);
  }
  #brand-logo {
    height: 95px;
    margin-right: 5px;
  }
  .navbar-nav .nav-link {
    padding-bottom: 8px;
    margin-left: -10px;
  }
  .nav-booknow-btn {
    width: 120px;
    border-radius: 10px;
    font-size: var(--button-text-lg-screen);
  }
  .navbar-nav .nav-link-container:active {
  background: none;
  }
}

/************ LARGE SCREENS ************/
@media (min-width: 992px) {
  #brand-logo {
    height: 105px;
  }
  .navbar-nav .nav-link {
    margin-left: 10px;
    font-size: var(--navbar-link-text-size-lg);
  }
    .nav-booknow-btn {
    width: 175px;
    letter-spacing: .5px;
  }
}

/************ EXTRA LARGE SCREENS ************/
@media (min-width: 1200px) {
  #brand-logo {
    height: 110px;
  }
  .navbar-nav .nav-link {
    margin-left: 30px;
    font-size: var(--navbar-link-text-size-xl);
    letter-spacing: .5px;
}
}