#brand-logo {
  height: 120px;
  width: auto;
}

/* .main-navbar {
  background-color: var(--navbar-bg);
} */

.navbar-nav .nav-link {
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding-left: 5px;
  padding-bottom: 15px;
  color: black;
  font-family: var(--navbar-link-text);
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar-nav .nav-link:last-child {
  margin-bottom: 15px;
}

.navbar-nav .nav-link:nth-child(1) {
  margin-top: 5px;
}

.navbar-nav .nav-link:active {
  background-color: whitesmoke;
}

.nav-btn-container {
  display: flex;
  justify-content: center;
}

.nav-booknow-btn {
  background-color: var(--button-bg);
  font-family: var(--button-text);
  color: var(--accent-color);
  font-weight: 500;
  font-size: var(--button-text-sm-screen);
  border: none;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
}

.nav-booknow-btn:hover {
  cursor: pointer;
  background-color: rgb(26, 26, 26);
}