@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


* {
    box-sizing: border-box;
}

:root {
    --header-fonts: "EB Garamond", Garamond, Baskerville, "Times New Roman", serif;
    --accent-color: #dfaf37;
    --banner-bg: #000;
    --banner-text: #f5f5f5;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-fonts);
}
