/************************** GLOBAL STYLES **************************/

/************ IMPORTS ************/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/************ ENTIRE DOCUMENT ************/
* {
    box-sizing: border-box;
}

:root {
    --font-heading: "EB Garamond", Garamond, Baskerville, "Times New Roman", serif;
    --navbar-bg: #fff;
    --accent-color: #dfaf37;
    --banner-bg: #000;
    --banner-text: #f5f5f5;
    --button-bg: #000;
    --button-hover-bg: #161616;
    --button-text: "EB Garamond", serif;
    --button-text-weight: 400;
    --button-text-lg-screen: .95rem;
    --button-text-sm-screen: .9rem;
    --navbar-link-text: "EB Garamond", serif;
    --navbar-link-text-size-lg: 1.1rem;
    --navbar-link-text-size-xl: 1.2rem;
    --border-bottom: 1px solid rgba(0,0,0,0.08);
}

/************ BODY STYLES ************/
body {
    margin: 0;
}

/************ HEADER STYLES ************/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}
